.main {
    width: 100wh;
    height: 100vh;
}

.frontTable {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: black;
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
}
